/.quarto/
**/*.quarto_ipynb
*.pyc
__pycache__/
# Ignore generated SVG/CSV files except in examples/output
*.svg
*.csv
!examples/output/*.svg
!examples/output/*.csv
/pyschemaelectrical.egg-info
.coverage
.coverage.*
.venv/
.pytest_cache/
.complexipy_cache/
uv.lock
dist/

